<!DOCTYPE html>
<html>
  <head>
    <style>
    * {
      box-sizing: border-box;
    }
    
    .img-container {
      float: left;
      width: 8%;
      padding: 0.5%;
    }

    .bar-container {
      float: left;
      width: 100%;
      padding-right: 4%;
    }
    
    /* .clearfix::after {
      content: "";
      clear: both;
      display: block;
      margin: auto;
    } */
    .center {
      margin-left: 1.5%;
      margin-right: auto;
      width: 100%;
      padding: 10px;
      text-align: center;
      font-size: 24px;
      font-family: "Times New Roman";
    }
    /* .center {
      margin: auto;
      width: 60%;
      padding: 10px;
    } */

    </style>
    </head>

<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
<body style="background-color: rgb(64, 138, 167);">

<p class=center style="font-size: 48px;">X-Pool: Cross-Modal Language-Video Attention for Text-Video Retrieval</p>

<div class="center">
  <form method="post">
      <input type="submit" name="Generate" value="Generate" style="font-size: 24px; font-family: 'Times New Roman'">
  </form>
</div>

<div class="center">
  <video id="vid" width="320" height="240" autoplay muted loop>
      <source src={{ url_for('static', filename=vid) }} type="video/mp4">
    Your browser does not support the video tag.
  </video>
</div>

<div class="center">
  <div class="img-container">
    <img src={{ url_for('static', filename="frames/"+vid[:-4][7:]+"_frame_0.jpg") }} alt="" style="width:100%">
  </div>
  <div class="img-container">
    <img src={{ url_for('static', filename="frames/"+vid[:-4][7:]+"_frame_1.jpg") }} alt="" style="width:100%">
  </div>
  <div class="img-container">
    <img src={{ url_for('static', filename="frames/"+vid[:-4][7:]+"_frame_2.jpg") }} alt="" style="width:100%">
  </div>
  <div class="img-container">
    <img src={{ url_for('static', filename="frames/"+vid[:-4][7:]+"_frame_3.jpg") }} alt="" style="width:100%">
  </div>
  <div class="img-container">
    <img src={{ url_for('static', filename="frames/"+vid[:-4][7:]+"_frame_4.jpg") }} alt="" style="width:100%">
  </div>
  <div class="img-container">
    <img src={{ url_for('static', filename="frames/"+vid[:-4][7:]+"_frame_5.jpg") }} alt="" style="width:100%">
  </div>
  <div class="img-container">
    <img src={{ url_for('static', filename="frames/"+vid[:-4][7:]+"_frame_6.jpg") }} alt="" style="width:100%">
  </div>
  <div class="img-container">
    <img src={{ url_for('static', filename="frames/"+vid[:-4][7:]+"_frame_7.jpg") }} alt="" style="width:100%">
  </div>
  <div class="img-container">
    <img src={{ url_for('static', filename="frames/"+vid[:-4][7:]+"_frame_8.jpg") }} alt="" style="width:100%">
  </div>
  <div class="img-container">
    <img src={{ url_for('static', filename="frames/"+vid[:-4][7:]+"_frame_9.jpg") }} alt="" style="width:100%">
  </div>
  <div class="img-container">
    <img src={{ url_for('static', filename="frames/"+vid[:-4][7:]+"_frame_10.jpg") }} alt="" style="width:100%">
  </div>
  <div class="img-container">
    <img src={{ url_for('static', filename="frames/"+vid[:-4][7:]+"_frame_11.jpg") }} alt="" style="width:100%">
  </div>
  
</div>

<div class="center">
  <div class="bar-container">
    <canvas id="canvas" height="15" width="100%"></canvas>
  </div>
</div>

<br>

<div class="center">
  <p> {{ caption }} </p>
</div>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <script src="static/js/bootstrap.min.js"></script>
  <script src="static/js/Chart.min.js"></script>
  <script type="text/javascript">

  // This is the speed in which the loop occurs
  loopSpeed = 5000

  // Every loopSpeed milliseconds, get API data (randomized with Python)
  // Then draw a bar graph with the data.


    $.get( "/data", function( data ) {
        drawChart(data.set)
      });

  
  function drawChart(set) {

    var data = {
        labels: ["frame 1", "frame 2", "frame 3", "frame 4", "frame 5", "frame 6", "frame 7", "frame 8", "frame 9", "frame 10", "frame 11", "frame 12"],
        datasets: [
            {
                label: "",
                backgroundColor: "rgba(154, 255, 167, 1)",
                data: set
            }
        ]
    };

    var ctx = document.getElementById("canvas").getContext("2d");
    
    // return new Chart(ctx).Bar(data, {
    //       responsive : true
    //   });

    return new Chart(ctx, {
      type: "bar",
      data: data,
      options: {
        events: [],
        legend: {display: false},
        scales: {
          xAxes: [{
              barPercentage: 0.4,
              display: false,
              gridLines: {
                  color: "rgba(0, 0, 0, 0)",
                  drawBorder: false
              }
          }],
          yAxes: [{
              display: false,
              gridLines: {
                  color: "rgba(0, 0, 0, 0)",
                  drawBorder: false
              },
              ticks: {
                  display: false
              }
          }]
        }
      }
    });

  }

  </script>

</body>

</html>
